<%
  url= 'https://jsonplaceholder.typicode.com/posts/'
  response = RestClient.get(url)
  response_json = JSON.parse(response)

%>
<h1 class="h1-pages">Blog Orientado a Serviços</h1>
<hr class="hr-pages">

<article class="article-pages">
  <% for posts in response_json %>
    <h2 class="h2-pages"><%= posts['title']%></h2>
    <p><%=posts['body'] %></p>
    <hr class="hr-pages">
    <input
      type="hidden"
      name="id"
      value="<%= posts['id'] %>"
    >

    <%

    response_comments = RestClient.get "#{url}#{posts['id']}/comments"
    response_comments_json = JSON.parse(response_comments)

    %>

  <div class="comments-container">
  

  <% for comment in response_comments_json %>
      <div class="input-box">
          <label for="name-comments">Nome:</label>
          <p id="name-comments"> <%= comment['name'] %></p>
      </div>
      <div class="input-box">
          <label for="email-comments">Email:</label>
          <p id="email-comments"> <%= comment['email']%></p>
      </div>
      <div>
          <label for="post-comments">Comentário:</label>
          <p id="post-comments"> <%= comment['body']%></p>
      </div>

      <input 
          type="hidden"
          name="postId"
          value="<%= comment['postId'] %>">
      <hr class="hr-pages">

  <% end %>
  </div> 
  <% end %>

  
  
</article>


